.container {
  background-color: pink;
}

.search {
  background-color:yellow;

}

.search__text {
  background-color: green;

}

#search__text {

}

.btn {
  background-color: purple;
}

.result__container {

  background-color: lightblue;

  border: 2px solid blue;


}

.result__list {}

.result__element--container{
background-color: indianred;
}
