.container {
  background-color: pink;
}

.search {
  background-color:yellow;

}

.search__text {
  background-color: green;

}

#search__text {

}

.btn {
  background-color: purple;
}

.result__container {
  width: 300px;
  height: 200px;
  background-color: lightblue;

  border: 2px solid blue;


}

.result__list {}
